body{
    margin: 0;
    background-image: url(../img/f4907f117008049.606d9bb6aae9d.gif);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#container2{
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 110px 20px 65% 73px;
    gap: 15px;
    grid-template-areas: 
    'hd hd'
    'nv nv'
    'mn mn'
    'ft ft';
}

header{
    background-color: white;
    grid-area: hd;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    }

nav{
    background-color: rgb(230, 126, 34);
    grid-area: nv;
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    text-decoration: none;
}

nav a{
    color: black;
    text-decoration: none;
}

.logo {
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    height:80px;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding-right: 1300px;
    z-index: 0;
}

.rightheader{
    height:50px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 1300px;
}

main{
    grid-area: mn;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 20px;
}

main p{
    text-align: center;
}

main img:hover{
    transform: translateY(-10px);
}

.bilderbiff{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buynowknapp{
    width: 100%;
    text-align: center;
}

footer{
    background-color: rgb(230, 126, 34);
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer p, a{
    color: black;
}
footer p{
    display: flex;
    justify-content: flex-start;
}



.div1{
    margin-left: 20px;
    caret-color: black;
}