body{
    margin: 0;
    background-image: url(../img/f4907f117008049.606d9bb6aae9d.gif);
    background-size: cover;
    background-position: center;
    background-size: 1900px;
    overflow: hidden;
}

#container2{
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-template-rows: 100px 20px 1fr 70px;
    gap: 15px;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'mn mn mn mn'
    'ft ft ft ft';
}

header{
    background-color: white;
    grid-area: hd;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    }

nav{
    background-color: rgb(230, 126, 34);
    grid-area: nv;
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    text-decoration: none;
}

main{
    
    grid-area: mn;
    border-radius: 15px;

}

footer{
    background-color: rgb(230, 126, 34);
    grid-area: ft;
    
}

.logo {
    height:280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    height:80px;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding-right: 1300px;
    z-index: 0;
}

.rightheader{
    height:50px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 1300px;
}

.div1{
    margin-left: 20px;
}