body{
    margin: 0;

}

#container{
    display: grid;
    max-width: 100vw;
    /* height: 100vh; */
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 110px 20px auto auto auto 70px;
    gap: 15px;
    grid-template-areas: 
    'hd'
    'nv'
    'mn1'
    'mn2'
    'mn3'
    'ft';
}

header{
    background-color: white;
    grid-area: hd;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    }

nav{
    background-color: rgb(230, 126, 34);
    grid-area: nv;
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    text-decoration: none;
}

nav a{
    color: black;
    text-decoration: none;
}

.logo {
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    height:80px;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding-right: 1300px;
}

.rightheader{
    height:50px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 1300px;
}



#main1{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    grid-area: mn1;
    text-align: center;
}

#section2{
    grid-area: mn2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#section2 img{
    width: 400px;
    height: 250px;
    
}

#section2 h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#section2 p, h3{
    text-align: center;
}

#section3{
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
}

footer{
    background-color: rgb(230, 126, 34);
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self:flex-end;
}

footer p, a{
    color: black;
}
footer p{
    display: flex;
    justify-content: flex-start;
}