body{
    margin: 0;
    background-image: url(../img/f4907f117008049.606d9bb6aae9d.gif);
    background-size: cover;
    background-position: center;
    background-size: 1900px;
    overflow: hidden;
}

#container{
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-template-rows: 100px 20px 1fr 70px;
    gap: 15px;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'as1 mn1 mn2 as2'
    'ft ft ft ft';
}

header{
    background-color: white;
    grid-area: hd;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    }

nav{
    background-color: rgb(230, 126, 34);
    grid-area: nv;
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    text-decoration: none;
}

.main1{
    grid-area: mn1;
    border-radius: 15px;
    color: white;

}

.main1:hover{
    transform: translateY(-10px);
}

.main2:hover{
    transform: translateY(-10px);
}

.main2{ 

    grid-area: mn2;
    border-radius: 15px;
    color: white;
}



.aside1{
    /* background-color: rgb(230, 126, 34); */
    grid-area: as1;
    margin-right: 50px;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 15px;
}

.aside2{
    /* background-color: rgb(230, 126, 34); */
    grid-area: as2;
    margin-left: 50px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 15px;
}

footer{
    background-color: rgb(230, 126, 34);
    grid-area: ft;
    
}

.logo {
    height:280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    height:80px;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding-right: 1300px;
    z-index: 0;
}

.rightheader{
    height:50px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    padding-left: 1300px;
}